#!/bin/bash

docker exec -i {{ project_name }}-webserver-dev bash -c "cd {{ app_dir }} && chown -R www-data:www-data ."
docker exec -i {{ project_name }}-webserver-dev bash -c "cd {{ app_dir }} && composer install"
docker exec -i {{ project_name }}-webserver-dev bash -c "cd {{ app_dir }} && php bin/magento setup:install --db-host=mysql --db-user={{db_user}} --db-name={{db_name}} --db-password={{db_password}}"
docker exec -i {{ project_name }}-webserver-dev bash -c "cd {{ app_dir }} && rm -rf generated/code/"
docker exec -i {{ project_name }}-webserver-dev bash -c "cd {{ app_dir }} && php bin/magento setup:upgrade"
docker exec -i {{ project_name }}-webserver-dev bash -c "cd {{ app_dir }} && php bin/magento setup:di:compile"
docker exec -i {{ project_name }}-webserver-dev bash -c "cd {{ app_dir }} && php bin/magento cache:flush"
docker exec -i {{ project_name }}-webserver-dev bash -c "cd {{ app_dir }} && chmod -R 777 var/ pub/ generated/"
docker exec -i {{ project_name }}-webserver-dev bash -c "cd {{ app_dir }} && php bin/magento admin:user:create --admin-user={{admin_user}} --admin-firstname={{admin_first_name}} --admin-lastname={{admin_last_name}} --admin-email={{admin_email}} --admin-password={{admin_password}}"
docker exec -i {{ project_name }}-webserver-dev bash -c "cd {{ app_dir }} && php bin/magento info:adminuri"
docker exec -i {{ project_name }}-webserver-dev bash -c "cd {{ app_dir }} && php bin/magento indexer:status"
docker exec -i {{ project_name }}-webserver-dev bash -c "cd {{ app_dir }} && php bin/magento indexer:info"
docker exec -i {{ project_name }}-webserver-dev bash -c "cd {{ app_dir }} && php bin/magento indexer:reindex"
docker exec -i {{ project_name }}-webserver-dev bash -c "cd {{ app_dir }} && php bin/magento cron:install"
docker exec -i {{ project_name }}-webserver-dev bash -c "cd {{ app_dir }} && chmod -R 777 var/ pub/ generated/"
