# PHP version, 7.2 to 7.4 available
PHP_VERSION={{ php_version }}
# Indicate the version of your DB engine, MySQL and Mariadb supported.
# Only one line must be activated
# For MySQL
DB_SERVER={{ db_server }}
# For Mariadb
# DB_SERVER=mariadb:10.3

# Modify this value to create more containers and to adapt it to your project name
PROJECT_NAME={{ project_name }}

#DOCUMENT_ROOT=./www
VHOSTS_DIR=./config/vhosts
APACHE_LOG_DIR=./logs/apache2
PHP_INI=./config/php/php.ini

MYSQL_DATA_DIR=./data/mysql
MYSQL_LOG_DIR=./logs/mysql

# If you already has the port 8080 in use, you can change it (for example if you have Apache)
DEV_UNSECURE_HOST_PORT=8080
DEV_SECURE_HOST_PORT=8443

# If you already has the port 3306 in use, you can change it (for example if you have MySQL)
HOST_MACHINE_MYSQL_PORT=3306

# If you already has the port 8090 in use, you can change it
HOST_MACHINE_PHPMYADMIN_PORT=8090

# If you already has the port 6379 in use, you can change it (for example if you have Redis)
# HOST_MACHINE_REDIS_PORT=6379

# DB engine config user & password
DB_NAME={{ db_name }}
DB_USERNAME={{ db_user }}
DB_PASSWORD={{ db_password }}
DB_ROOT_PASSWORD={{ db_root_password }}