server {
    listen 80;

    server_name {{ deploy_url }};

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    server_name {{ deploy_url }};

    location / {
        proxy_pass                          http://127.0.0.1:8080;
        proxy_set_header Host               $http_host;
        proxy_set_header X-Forwarded-Host   $http_host;
        proxy_set_header X-Real-IP          $remote_addr;
        proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto  https;
        proxy_set_header X-Forwarded-Port   443;
        proxy_buffer_size                   128k;
        proxy_buffers                       4 256k;
        proxy_busy_buffers_size             256k;
    }

    access_log /var/log/nginx/{{ deploy_url }}.access.log;
    error_log /var/log/nginx/{{ deploy_url }}.error.log;

    ssl_certificate /etc/letsencrypt/live/{{ deploy_url }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ deploy_url }}/privkey.pem;

    ssl_protocols TLSv1.2 TLSv1.3;
#   ssl_ciphers ECDH+AESGCM:ECDH+AES256:ECDH+AES128:DH+3DES:!ADH:!AECDH:!MD5;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
    ssl_dhparam /etc/nginx/certs/dhparam.pem;
    ssl_prefer_server_ciphers on;

    ssl_stapling on;
    ssl_stapling_verify on;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ deploy_url }}/chain.pem;

    ssl_session_cache   shared:SSL:40m;
    ssl_session_timeout 4h;
    ssl_session_tickets on;

    add_header Strict-Transport-Security "max-age=31536000" always;
}
